  #beachContainer { 
    position: relative;
    height: 100%;
    width:  100%;
    display: inline-block;
    background: linear-gradient(#ffe46e, #ffee90);
    background-size: cover;
  }

  #beach { 
    position: relative;

    height: 80%;
    width:  80%;
    margin: 20% auto;
  }

  .bottle {
    height : 10vw;
    width : 10vw;;
    min-width: 70px;
    min-height: 70px;
  }
