.sky { 
    height: 15vmin;
    width:100%;
    display: inline-block;
    margin-top: 0px;
    background: linear-gradient(#6eb2ff, #daebff);
    background-size: cover;
  }

  .sun {
      width: 10vw;
      height: 10vw;
      position: relative;
      left : 0vw;
      top : 2vw;
  }